
            <h2>Articles</h2>
            {% for article in articles %}
                <p><a href="/article/{{article.id}}"><h3>{{article.title}}</h3></a> Written by: {{article.author}} -> {{article.body}}</p>
            <hr>
            {% else %}
                <p>You have no article.</p>
            {% endfor %}
