{% extends "master.html.twig"%}
{# empty Twig template #}

{% block title %}Index{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $("#listing").load("/alt/page/1");
            $("#p1").css("text-decoration","underline"); 
        });
        function loadPage(page){
            $("#listing").load("/alt/page/"+page);
            $("html, body").animate({scrollTop:0},"slow");
            {% for page in range(1,pagination.total,1) %}
                $("#p{{page}}").css("text-decoration",""); 
            {% endfor %}            
            $("#p"+page).css("text-decoration","underline"); 
        }
    </script>
{% endblock %}

{% block main %}
        <div id="nav">
            About us<br>
            Products<br>
            Contact<br>
        </div>
        <div id="section">
            {% if username %}
                <p><a href="/article/create">Create article</a></p>
            {% endif %}
        </div>
        <div id="listing">Page list loading...</div>
        <hr>
            Page: 
            {% for page in range(1,pagination.total,1) %}
                <span id="p{{page}}" onclick="loadPage({{page}})">{{page}}</span>
            {% endfor %}
{% endblock %}