{% extends "master.html.twig" %}
{# empty Twig template #}
{% block title %}Article Creation{% endblock %}

{% block javascript %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
{% endblock %}
{% block main %}
    {% if errorList%}
        <ul>
            {%for error in errorList%}
                <li>{{error}}</li>
                {%endfor %}
        </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        Title: <input name="title" type="text" value="{{value.title}}"><br>
        Image: <input type="file" name="imageFile" id="fileToUpload"><br>
        body: <textarea name="body" rows="4" cols="50" >{{value.body}}</textarea>  <br>
        <input type="submit" value="Create">
    </form>
{% endblock %}