{% extends "master.html.twig" %}
{# empty Twig template #}
{% block title %}{{article.title}}{% endblock %}

{% block main %}
    <h1>{{article.title}}</h1>
    {% if article.imagePath %}
        <img src="/{{article.imagePath}}" />
        {% endif %}
    <div>{{article.body|raw}}</div>
{% endblock %}