{% extends "master.html.twig" %}
{# empty Twig template #}
{% block title %}Article Created Successful!{% endblock %}

{% block main %}
<p>You may now <a href="/article/{{article_id}}">Read</a></p>
{% endblock %}