{% extends "master.html.twig" %}
{# empty Twig template #}
{% block title %}Internal error occured{% endblock %}

{% block main %}
    <p>We are sorry. You may <a href="/"> return to the main page</a></p>
    <p>This problem has been logged and our engineers are attempting to correct the problem.</p>
    {% if httpCode %}
        <p> HTTP code returned: {{ httpCode }} </p>
    {% endif %}
{% endblock %}