{% extends "master.html.twig"%}
{# empty Twig template #}

{% block title %}Index{% endblock %}
{% block main %}
        <div id="nav">
            About us<br>
            Products<br>
            Contact<br>
        </div>
        <div id="section">
            {% if username %}
                <p><a href="/article/create">Create article</a></p>
            {% endif %}
            <h2>Articles</h2>
            {% for article in articles %}
                <p><a href="/article/{{article.id}}"><h3>{{article.title}}</h3></a> Written by: {{article.author}} | {{article.body}}</p>
            <hr>
            {% else %}
                <p>You have no article.</p>
            {% endfor %}
        </div>
        <hr>
            {% if pagination.current > 1 %}
                <a href="/page/{{pagination.current -1}}">Previous</a>
            {% endif %}
            Page: {% for page in range(1,pagination.total,1) %}
            {% if page == pagination.current %}
                <b>{{page}}</b>
            {% else %}
                <a href="/page/{{page}}">{{page}}</a>
            {% endif %}
            {% endfor %}
            {% if pagination.current < pagination.total %}
                <a href="/page/{{pagination.current + 1}}">Next</a>
            {% endif %}
{% endblock %}