{% extends "master.html.twig" %}

{# empty Twig template #}

{% block title %}Login{% endblock %}
    {% block main %}
    {% if errorlist%}
        <ul>
            {%for error in errorlist%}
                <li>{{error}}</li>
            {%endfor %}
        </ul>
    {% endif %}
        <div id="login">
        <form method="post">
            Username: <input name="username" type="text" value="{{value.username}}"><br>
            password: <input name="password" type="password"><br>
            <input type="submit" value="Login">
        </form>
        </div>
    {% endblock %}









{#
<h1>Login</h1>
    {% if errorlist%}
        <ul>
            {%for error in errorlist%}
                <li>{{error}}</li>
            {%endfor %}
        </ul>
    {% endif %}
        <form method="post">
            Username: <input name="username" type="text"><br>
            password: <input name="password" type="password"><br>
            <input type="submit" value="Login">
        </form>
#}