<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/global.css"/>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        {% block javascript %}{% endblock %}

    </head>
    <body>
        <div id="header">
            <h1>PHP OOP</h1>
                <div id="page-wrap">
                    {% if username %}
                        <p>Hi {{username}}! You can <a href="/logout">Logout</a></p>
                    {% else %}
                        <p>You can <a href="/login">Login</a> or <a href="/register">Register</a></p>
                    {% endif %}
                </div>
        </div>
        {% block main %}{% endblock %}
        <div id="footer">
            Copyright © PHP OOP Class
        </div>
    </body>

</html>
