{% extends "master.html.twig" %}
{# empty Twig template #}
{% block title %}Image{% endblock %}

{% block main %}
    <h1>This is the view of image #{{id}}</h1>
    <img src="/secret/{{id}}" width="300" /><br/>
    <a href="/secret/{{id}}">Click to view the original</a><br/>
    <a href="/secret/{{id}}?download=true">Click to Download the original</a>
{% endblock %}