{% extends "master.html.twig" %}
{# empty Twig template #}
{% block title %}Registration{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#notavailable").hide();
            $("input[name=username]").keyup(function () {
                var username = $("input[name=username]").val();
                if (username !== "") {
                    //$("#isavailable").load("/api/username/available/" + username);
                    $.getJSON("/api/username/available/" + username, function (result){
                        if (result){
                            $("#notavailable").show();
                        } else {
                            $("#notavailable").hide();
                        }
                    });
                } else {
                    $("#notavailable").hide();
                }
            });
            $("#loadme").click(function () {
                $("#result").load("/data.txt");
            });
            $("#clickme").click(function () {
                $('body').append("<h5>Button clicked</h5>");
            });
        });
        /*       alert("Hello world! from JavaScript!");
         function whenClicked(name){
         alert("Clicked with name " + name);
         }
         */
    </script>
{% endblock %}

{% block main %}
    {% if errorList%}
        <ul>
            {%for error in errorList%}
                <li>{{error}}</li>
                {%endfor %}
        </ul>
    {% endif %}
    <form method="post">
        Username: <input name="username" type="text" value="{{value.username}}">
        <span id="notavailable"><b>Error: username already in use</b></span><br>
        email: <input name="email" type="text" value="{{value.email}}"><br>
        password: <input name="pass1" type="password"><br>
        password: <input name="pass2" type="password"><br>
        <input type="submit" value="Register">
    </form>

    <button id="clickme">Click me!</button><br>
    <button id="loadme">Load me!</button><br>
    <span id="result">Result will appear here</span><br>

{% endblock %}