{% extends "master_minimal.html.twig" %}
{# empty Twig template #}
{% block title %}Shoutbox{% endblock %}

{% block javascript %}
    <script>
        
            function loadShoutList(){
               $.get('/api/shouts', function (json){
               var data = JSON.parse(json);
               var html = '';
               for (var i=0; i<data.length; i++){
                   var shout = data[i];
                   html +='<li><b>' + shout['author'] + '</b>: ' + shout['message'] + '</li>';
               }
               $('#shoutList').html(html);
               });
            }
        
        $(document).ajaxError(function(event,jqxhr,settings,thrownErrow){
            alert("Network error: Ajax request failed.");
        });
        
        $(document).ready(function () {
            
            $('#successMessage').hide();
            loadShoutList();

            $('#buttonShout').click(function(){
               var authorVal = $('input[name=author]').val();
               var messageVal = $('input[name=message]').val();
               //TODO: make sure author and message are at least 2 characters long
               var data = { author:authorVal, message:messageVal };
               var json = JSON.stringify(data);
               $.post('/api/shouts',json).done(function(result){
                   loadShoutList();
                   $('#successMessage').show().delay(3000).fadeOut();
               });
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div style="height:50px">
        <span id="successMessage">Shout has been posted</span>
    </div>
    Username: <input type="text" name="author">
    <br><br>
    Shout: <input type="text" name="message">
    <button id="buttonShout">Shout!</button>
    <br><br>
    
    <ul id="shoutList"></ul>

{% endblock %}