{% extends "master.html.twig" %}

{% block title %}Upload{% endblock %}
{% block main %}

    <div id="Upload">
        <form method="post" enctype="multipart/form-data">
            Select image to upload:
            <input type="file" name="imageFile" id="fileToUpload">
            <input type="submit" value="Upload Image" name="submit">
        </form>
    </div>
{% endblock %}







