#page-wrap{
    position: absolute;
    right: 0px;
    line-height: 150%;
    padding: 20px;
    text-align: left;
}



#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:100%;
    width:100px;
    float: left;
    left: 0;
    padding:5px;	      
}
#section {
    width:350px;
    padding:10px;
}

#footer {
    display:block;
    background-color:black;
    position:absolute;
    bottom:0;
    color:white;
    clear:both;
    text-align:center;
    //padding-top: 50px;	
    width:100%;    
}

#login {
    line-height:30px;
    background-color:#eeeeee;
    height:100px;
    width:auto;
    padding:5px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}